/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    flex: 1; /* Это позволит main занять всё доступное пространство */
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Стили для списка игр */
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
}

img {
    max-width: 150px;
    height: auto;
    display: block;
    margin-top: 10px;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    position: relative; /* Меняем на relative */
    width: 100%;
    margin-top: auto; /* Позволяет футеру оставаться внизу страницы */
}
